.c-newsList {
  list-style: none;
  padding: 0;

  &_item {
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
  }

  &_date {
    font-size: 0.9em;
    color: #888;
  }

  &_cat {
    font-weight: bold;
    margin-top: 0.5em;
  }

  &_title {
    font-size: 1.2em;
    margin-top: 0.2em;
  }
}
