.site-header,
.site-footer {
  background: $base-color;
  color: white;
  padding: 1rem 0;
}

.site-title {
  a {
    color: white;
    text-decoration: none;
  }
}

.site-nav {
  ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    padding: 0;
    margin: 0;
  }

  a {
    color: white;
    text-decoration: none;
  }
}

.main-content {
  padding: 2rem 1rem;
  @include inner;

  &__title {
    &--red {
      color: red;
    }
  }
}
