---
import BaseLayout from '../components/BaseLayout.astro'
import NewsList from '../components/NewsList.astro'
import type { PageParam } from '../types'
import { newsItems } from '../data/news'
import '../styles/main.scss'

const pageParam: PageParam = {
  id: 'top',
  title: 'トップページ',
}
---

<BaseLayout pageParam={pageParam}>
  <main class="main-content">
    <div class="">クラスあり中身なし</div>
    <div>クラスなし</div>
    <h2 class="main-content__title main-content__title--red">ようこそ Astro サイトへ！</h2>
    <p class="main-content__text">これは Astro + SCSS + JS の構成サンプルです。</p>
    <p class="main-content__title--second">まぶすルール</p>
    <button><h3>タイトルです</h3></button>
    <NewsList items={newsItems} />
  </main>
</BaseLayout>
