<footer class="site-footer">
  <div class="site-footer__container">
    <p>&copy; {new Date().getFullYear()} MySite. All rights reserved.</p>
  </div>
</footer>

<style lang="scss">
  .site-footer {
    background: $base-color;
    color: white;
    padding: 1rem 0;
    &__container {
      padding: 1rem;
      @include inner(1000px);
    }
  }
</style>
