---
import type { PageParam } from '../types'

const navLinks = [
  { href: '/', label: 'Home' },
  { href: '/about', label: 'About' },
  { href: '/contact', label: 'Contact' },
]

const { pageParam } = Astro.props as { pageParam: PageParam }
---

<header class="site-header">
  <div class="site-header__container">
    {
      (pageParam.id === 'top' && (
        <h1 class="site-title">
          <a href="/">{pageParam.title}</a>
        </h1>
      )) || (
        <div class="site-title">
          <a href="/">{pageParam.title}</a>
        </div>
      )
    }
    <nav class="site-nav">
      <ul>
        {
          navLinks.map((link) => (
            <li>
              <a href={link.href}>{link.label}</a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</header>

<style lang="scss">
  .site-header {
    background: $base-color;
    color: white;
    padding: 1rem 0;
    &__container {
      padding: 1rem;
      @include inner(1000px);
    }
  }

  .site-title {
    a {
      color: white;
      text-decoration: none;
    }
  }
  .site-nav {
    ul {
      list-style: none;
      display: flex;
      gap: 1rem;
      padding: 0;
      margin: 0;
    }

    a {
      color: white;
      text-decoration: none;
    }
  }
</style>
