---
import type { NewsItem } from '../types'

const { items } = Astro.props as { items: NewsItem[] }
---

<ul class="news-list">
  {
    items.map((item) => (
      <li class="news-list__item">
        <a href="">
          <p class="news-list__date">{item.date}</p>
          <p class="news-list__cat">{item.category}</p>
          <p class="news-list__title">{item.title}</p>
          <div>あいうえおだよ</div>
        </a>
      </li>
    ))
  }
</ul>
